@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Berkshire Swash', cursive;
    background: linear-gradient(90deg,#ff3838,#fc9423);
}


/*------------------------ Index Header */
.header {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}


.header .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.header .content h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 10em;
}

.header .content p {
    color: #ffffff;
    font-size: 3em;
}

.searchbar {
    font-size:1.8em;
    border-style: none;
    border-color: #fc9423;
    color: #ff3838;
}

.searchbutton {
    border-style: none;
    background: #fff;
    color: #ff3838;
    font-size: 1.8em;
}

button:hover {
    color: #fc9423;
}

.header-break {
    color: #ffffff;
    font-size: 1.8em;
    margin-left: 2em;
    margin-right: 2em;
}

.add-cocktail-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8em;
}

.add-cocktail-link:hover {
    color: #ff3838;
    text-decoration: none;
}

/*------------------------ Add Cocktail Page, Cocktail Page & Enquiry Page Header */

#cocktail-header {
    margin: 0;
    padding: 0;
    color: #fffff;
    font-size: 8em;
}

#cocktail-desc {
    color: #ffffff;
    font-size: 3em;
}

#back-home {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8em;
}

#back-home:hover {
    color: #ff3838;
    text-decoration: none;
}

.form-header {
    color: #ffffff;
    font-size: 2.6em;
}

#addbutton {
    border-style: none;
    background: #fff;
    color: #ff3838;
    font-size: 1.8em;
    margin-top: 1.7em;
}

#addbutton:hover {
    background: #f1f1f1;
    color: #fc9423;
}
/*------------------------ Cocktail Cards */

.cocktail-card {
    width: 22rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.cocktail-card h5 {
    color: #ff3838;
    font-size: 3rem;
}

.cocktail-card p {
    color: #fc9423;
    font-size: 1.8rem;
}

.cocktail-button {
    color: #fff;
    background-color: #fc9423;
}

.cocktail-button:hover {
    color: #fff;
    background-color: #ff3838;
}

/* ------------------------  Enquiry Form*/

.enquiry-section {
    margin-bottom: 0.6rem;
    text-align: center;
}

.enquiry-header {
    color: #ffffff;
    font-size: 4em;
}

.form-control {
    background-color: #ffffff;
    color: #ff3838;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50rem;
}

.center-form button {
    margin-top: 1rem;
}

/*------------------------ Footer */

footer {
    height: 5rem;
}

.footer-header {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.footer-header a{
    color: #ffffff
}

.footer-header a:hover{
    color: #ff3838;
}

.list-inline {
    text-align: center;
}

.social-icons li a i{
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0.7rem;
}

.social-icons li a i:hover {
    color: #ff3838;
}

/*------------------------ Mobile Resp - Ipad Pro */

@media screen and (max-width: 1024px) {
    .header {
        height: 35vh;
    }
}

@media screen and (max-width: 1024px) {
    .form-control {
        width: 80%;
     }
}

/*------------------------ Mobile Resp - Ipad */

@media screen and (max-width: 768px) {
    .header {
        height: 32vh;
    }
}

@media screen and (max-width: 768px) {
    .header .content h1 {
        font-size: 6.6em;
    }
}

@media screen and (max-width: 768px) {
    .header .content p {
        font-size: 2em;
    }
}

@media screen and (max-width: 768px) {
    #cocktail-header {
        font-size: 6.6em;
    }
}

@media screen and (max-width: 768px) {
    #cocktail-desc {
        font-size: 2em;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .form-header {
    font-size: 2.1em;
}
}

/*------------------------ Mobile Resp - 540px */

@media screen and (max-width: 540px) {
    .header {
        height: 30vh;
    }
}

@media screen and (max-width: 540px) {
    .header .content h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 540px) {
    .header .content p {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 540px) {
    #cocktail-header {
        font-size: 5em;
    }
}

@media screen and (max-width: 540px) {
    #cocktail-desc {
        font-size: 1.4em;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 540px) {
    .form-header, .enquiry-header, .footer-header {
    font-size: 1.4em;
}
}

@media screen and (max-width: 540px) {
    .header-break {
    display: none;
}
}

@media screen and (max-width: 540px) {
    .searchbar {
        font-size:1.4em;
        width: 88%;
        margin: 0 auto;
        padding-right: 0.2em;
    }
}

@media screen and (max-width: 540px) {
    .searchbutton  {
        font-size:1.4em;
    }
}

@media screen and (max-width: 540px) {
    .add-cocktail-link {
        font-size: 1.4em;
        margin: 0 auto;
}

/* ------------------ Mobile Responsive - 414px */

@media screen and (max-width: 414px) {
    .header {
        height: 30vh;
    }
}

@media screen and (max-width: 414px) {
    .header .content h1 {
        font-size: 4em;
    }
}

@media screen and (max-width: 414px) {
    .header .content p {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 414px) {
    #cocktail-header {
        font-size: 4em;
    }
}

@media screen and (max-width: 414px) {
    #cocktail-desc {
        font-size: 1.15em;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 414px) {
    .form-header, .enquiry-header, .footer-header{
    font-size: 1.2em;
}
}

@media screen and (max-width: 414px) {
    .header-break {
    display: none;
}
}

@media screen and (max-width: 414px) {
    .searchbar {
        font-size:1.4em;
        width: 88%;
        margin: 0 auto;
        padding-right: 0.2em;
    }
}

@media screen and (max-width: 414px) {
    .searchbutton  {
        font-size:1.4em;
    }
}

@media screen and (max-width: 414px) {
    .add-cocktail-link {
        font-size: 1.4em;
        margin: 0 auto;
}

@media screen and (max-width: 414px) {
    #footer {
        margin: 0.2em;
    }
}


@media screen and (max-width: 414px) {
    .cocktail-card {
        width: 82%;
    }
}

@media screen and (max-width: 414px) {
    .card-title {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 414px) {
    .card-text {
        font-size: 0.7em;
    }
}


/* ------------------ Mobile Responsive - 320px */

@media screen and (max-width: 320px) {
    .header {
        height: 27vh;
    }
}

@media screen and (max-width: 320px) {
    .header .content h1 {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 320px) {
    .header .content p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 320px) {
    #cocktail-header {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 320px) {
    #cocktail-desc {
        font-size: 0.8em;
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .form-header, .enquiry-header, .footer-header{
    font-size: 0.85em;
}
}

@media screen and (max-width: 320px) {
    .header-break {
    display: none;
}
}

@media screen and (max-width: 320px) {
    .searchbar {
        font-size:1em;
        width: 88%;
        margin: 0 auto;
        padding-right: 0.2em;
    }
}

@media screen and (max-width: 320px) {
    .searchbutton  {
        font-size:1em;
    }
}

@media screen and (max-width: 320px) {
    .add-cocktail-link {
        font-size: 1em;
        margin: 0 auto;
}

@media screen and (max-width: 320px) {
    #footer {
        margin: 0.2em;
    }
}

@media screen and (max-width: 414px) {
    .cocktail-card {
        width: 82%;
    }
}

@media screen and (max-width: 414px) {
    .card-title {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 414px) {
    .card-text {
        font-size: 0.7em;
    }
}
