@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Berkshire Swash', cursive;
    background: linear-gradient(90deg,#ff3838,#fc9423);
}


/*------------------------ Index Header */
.header {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}


.header .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.header .content h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 10em;
}

.header .content p {
    color: #ffffff;
    font-size: 3em;
}

.searchbar {
    font-size:1.8em;
    border-style: none;
    border-color: #fc9423;
    color: #ff3838;
}

button {
    border-style: none;
    background: #fff;
    color: #ff3838;
    font-size: 1.8em;
}

button:hover {
    color: #fc9423;
}

.header-break {
    color: #ffffff;
    font-size: 1.8em;
    margin-left: 2em;
    margin-right: 2em;
}

.add-cocktail-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8em;
}

.add-cocktail-link:hover {
    color: #ff3838;
    text-decoration: none;
}

/*------------------------ Add Cocktail Page & Cocktail Page Header */

#cocktail-header {
    margin: 0;
    padding: 0;
    color: #fffff;
    font-size: 8em;
}

#cocktail-desc {
    color: #ffffff;
    font-size: 3em;
}

#back-home {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8em;
}

#back-home:hover {
    color: #ff3838;
    text-decoration: none;
}

.form-header {
    color: #ffffff;
    font-size: 2.6em;
}

#addbutton {
    border-style: none;
    background: #fff;
    color: #ff3838;
    font-size: 1.8em;
    margin-top: 1.7em;
    justify-content: center;
}

#addbutton:hover {
    background: #f1f1f1;
    color: #fc9423;
}
/*------------------------ Cocktail Cards */

.cocktail-col {
    margin: 0 auto;
}

.cocktail-card {
    width: 22rem;
    justify-content: center;
    align-items: center;
}

.cocktail-card h5 {
    color: #ff3838;
    font-size: 3rem;
}

.cocktail-card p {
    color: #fc9423;
    font-size: 1.8rem;
}

.cocktail-button {
    color: #fff;
    background-color: #fc9423;
}

.cocktail-button:hover {
    color: #fff;
    background-color: #ff3838;
}

/*------------------------ Footer */

footer {
    height: 5rem;
}

.footer-header {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.footer-header a{
    color: #ffffff
}

.footer-header a:hover{
    color: #ff3838;
}

.list-inline {
    text-align: center;
}

.social-icons li a i{
    color: #ffffff;
    font-size: 2rem;
    margin-top: 0.7rem;
}

.social-icons li a i:hover {
    color: #ff3838;
}