<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet"/>
    <title>Cocktails 4 U</title>
</head>
<body>
    <!--Header-->
   <section class="header">
        <div class="content">
            <h1>Cocktails 4 U</h1>
            <p>Find the drink for your evening <i class="fas fa-cocktail"></i></p>
        </div>
   </section>
   <!--Cards-->
   <div class="container">
    <div class="row">
        <div class="col-lg-4 cocktail-col">
            <div class="card cocktail-card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Cocktail Name</h5>
                <p class="card-text">Cocktail Description.</p>
                <a href="#" class="btn cocktail-button">View Cocktail</a>
            </div>
        </div>
    </div>
   </div>
   <!--Footer-->
   <footer class="container-fluid">
        <div class="row">
            <div class="col-8 offset-2 footer-col">
                <h5 class="footer-header d-none d-sm-block">
                   visit our social pages
                </h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="fab fa-youtube" aria-hidden="true"></i>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com" target="_blank">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">Linked In</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
   <!--Javascript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39f5ad3fd9.js" crossorigin="anonymous"></script>
</body>
</html>