{% extends 'base.html' %} {% block content %}
<!--Header-->
<section class="header">
  <div class="content">
    <h1>Cocktails 4 U</h1>
    <p>Find the drink for your evening <i class="fas fa-cocktail"></i></p>
    <input type="text" placeholder="Search Cocktails Here..." class="searchbar"><button type="submit" class="searchbutton"><i class="fa fa-search"></i></button> <span class="header-break">|</span> <a href="{{ url_for('add_cocktail') }}" class="add-cocktail-link">Add a Cocktail <i class="fas fa-plus-circle"></i></a>
  </div>
</section>
<!--Cards -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 cocktail-col">
      <div class="card cocktail-card">
        <img src="..." class="card-img-top" alt="cocktail picture" />
        <div class="card-body">
          <h5 class="card-title">Cocktail Name</h5>
          <p class="card-text">Cocktail Description.</p>
          <a href="{{ url_for('cocktail_page') }}" class="btn cocktail-button">View Cocktail</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
